@{
    ViewData["Title"] = "Datos Personales";
}
<h1>Ingrese sus datos</h1>
<form asp-action="GenerarBoleta" method="post">
    <label>Apellidos y Nombres:</label> 
    <input type="text" name="nombre" required /><br><br>

    <label>DNI:</label>
    <input type="text" name="dni" required /><br><br>

    <button type="submit">Generar Boleta</button>
</form>
